#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.farsan-regular {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navbar Styling */
#Navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #000000;
  color: white;
}

#navTextContainer h1{
  font-family: "Anta", sans-serif;
  font-weight: 40;
  font-style: normal;
  font-size: 28pt;
}

#navTextContainer h2{
  font-family: "Anta", cursive;
  font-size: 15pt;
}

#navTextContainer {
  text-align: center;
}
#navTextContainer h1 {
  margin-bottom: 0; 
}
#navTextContainer p {
  margin-top: 0; 

}


/* SideBar Styling */
.bm-burger-button {
  position: relative;
  width: 55%;
  height: 55%;
}

.bm-cross-button {
  height: 30px;
  width: 30px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #000000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item {
  display: inline-block;
  color: white;
}

/* Kanban Board styling */
.KanbanBoard{
  background-image: url(https://github.com/lerodriguezreyes/react-kanban/blob/main/images/kanbanback.jpg?raw=true);
  background-size: cover;
  width: 100%;
  }

.kContainer {
  width: 100%;
}

.kContainer > h1{
  text-align: center;
  font-family: "Anta", cursive;
  font-size: 20pt;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px grey;
  margin-top: 0;
}

.dragDropContainer{
display: flex;
height: 100%;
}


.kHeaders {
  display: flex;
  justify-content: space-around;
}

.kHeaders >h3{
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px grey;
  font-family: "Anta", cursive;
  font-size: 15pt;
  margin: 5px;
  margin-bottom: 0;
}

.kColumns{
  background-color: grey;
  height: 400px;
  width: 100%;
  margin: 5px;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px grey;
}

/* Boardtask styling */
.ReducedTaskCard {
display: flex;
flex-direction: column;
align-items: center;
width: 250px;
height: 250px;
border-radius: 50%;
border: solid;
border-color: black;
border-width: 2px;
background-image: url(https://github.com/lerodriguezreyes/react-kanban/blob/main/images/texture1.jpg?raw=true);
background-size: cover;
}

/* Footer styling */
#footer {
  font-family: "Farsan", cursive;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  background-color: #000000;
}

#footer h4 {
  font-size: 14pt;
  margin-top: 0;
}

/*  Task form styling */

.AddTask {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.AddTask {
  background: #fffee7;
}

.AddTask label {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.AddTask input,textarea,select {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
}