#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

a {
  color: white;
}

ul {
  list-style-type: none;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.farsan-regular {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navbar Styling */
#Navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #000000;
  color: white;
}

#navTextContainer h1{
  font-family: "Anta", sans-serif;
  font-weight: 40;
  font-style: normal;
  font-size: 28pt;
}

#navTextContainer h2{
  font-family: "Anta", cursive;
  font-size: 15pt;
}

#navTextContainer {
  text-align: center;
}
#navTextContainer h1 {
  margin-bottom: 0; 
}
#navTextContainer p {
  margin-top: 0; 

}


/* SideBar Styling */
.bm-burger-button {
  position: relative;
  width: 55%;
  height: 55%;
}

.bm-cross-button {
  height: 30px;
  width: 30px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #000000;
  padding: 1.5em 1.5em 0;
  font-family: "farsan";
  font-size: 1.75em;
  box-shadow: 0 15px 15px grey;
}

.bm-item {
  display: inline-block;
  color: white;
}

/* Kanban Board styling */
.KanbanBoard{
  background-image: url(https://github.com/lerodriguezreyes/react-kanban/blob/main/images/kanbanback.jpg?raw=true);
  background-size: cover;
  width: 100%;
  }

.kContainer {
  width: 100%;
}

.kContainer > h1{
  text-align: center;
  font-family: "Anta", cursive;
  font-size: 20pt;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px grey;
  margin-top: 0;
}

.dragDropContainer{
display: flex;
height: 100%;
}


.kHeaders {
  display: flex;
  justify-content: space-around;
}

.kHeaders >h3{
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px grey;
  font-family: "Anta", cursive;
  font-size: 15pt;
  margin: 5px;
  margin-bottom: 0;
}

.kColumns{
  background-color: grey;
  height: 600px;
  width: 100%;
  margin: 5px;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px grey;
}

/* Boardtask styling */
.ReducedTaskCard {
box-shadow: 0 0 15px grey;
background-color: rgba(255, 255, 255, 0.2);
display: flex;
flex-direction: column;
align-items: center;
height: auto;
border: solid;
border-color: black;
border-width: 2px;
margin-bottom: 5px;
}

#cardHeader, #cardDueDate, .cardStatus{
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Footer styling */
#footer {
  font-family: "Farsan", cursive;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 14pt;
  background-color: #000000;
}

#footer h4 {
  font-size: 14pt;
  margin-top: 0;
}

/*  About Page */
#aboutPage > h1{
text-align: center;
font-family: 'Anta';
}

#aboutPage p {
  text-align: justify;
  font-family: "Farsan";
  color: black;
  font-size: large;
}

#flowNaut{
position: relative;
left: 32%;
}

/* Lost page styling */
.lostHeader, .lostMessege{
  text-align: center;
  font-family: 'anta';
}

.lostPic{
  width: 100%;
}


/*  Task form styling */

.AddTask {
  width: 99%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px grey;
  font-family: "Anta", cursive;
  font-size: 15pt;
  margin: 5px;
  margin-bottom: 0;
}

.AddTask label {
  width: 15%;
  display: block;
  margin: 0 auto;
}

.AddTask input,textarea,select {
  display: inline-block;
  margin: 0 auto;
}